* {
    box-sizing: border-box !important;
}

div, p {
    padding: 0 !important;
    margin: 0 !important;
}

#banner {
    background-image: url("images/banner.jpg");
    height: 200px;
    width: 100%;
}

#profile-img {
    margin-top: 150px;
    width: 100px;
}

#edit-pp {
    margin-left: 120px;
}

.custom-btr {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-bbr {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

section {
    border-radius: 10px;
    border: 1px solid rgb(186, 186, 186);
}

p {
    font-size: 0.8rem !important;
    line-height: 17px !important;
}

.top-logo img {
    width: 30px;
}

.top-logo {
    font-size: x-small;
    margin: 0;
}